pipenv 
numpy 
pandas 
matplotlib 
tensorflow 
scikit-learn 
flask 
requests 
tflite
absl-py
astunparse
cachetools
certifi
charset-normalizer
click
contourpy
cycler
distlib
filelock
flatbuffers
fonttools
gast
grpcio
gunicorn
h5py
idna
imageio
itsdangerous
Jinja2
keras
matplotlib
networkx
numpy
requests
scikit-image
scipy
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-estimator
tensorflow-gpu
tensorflow-io-gcs-filesystem
termcolor
tifffile
typing_extensions
urllib3
virtualenv
virtualenv-clone
Werkzeug
wrapt